footer
  .container
    .footer-container
      .footer-main
        span Суши
        span Гуканы
        span Инари
        span Супы
        span Салаты
        span Горячие закуски
        span Десерты
        span Напитки
        span Дополнительно
      .footer-sets
        span.footer-title Сеты
        .footer-sets--container
          .footer-sets--price
            span до 500 руб.
            span до 1000 руб. (для двоих)
            span до 1500 руб. (для троих)
            span до 2000 руб. (большая кампания)
            span от 2000 руб. (очень большая <br> кампания)
          .footer-sets--name
            span С угроём
            span Горячие
            span Запечёные
            span Суши
      .footer-item
        span.footer-title Роллы
        .footer-item--container
            span Традиционные/Классические
            span Простые
            span Тёплые
            span Запечёные
            span Вегитарианские
      .footer-item
        span.footer-title Вок
        .footer-item--container
            span Яичная
            span Удон
            span Гречневая
            span Стеклянная
            span Рис
    .footer-mobile
      .footer-mobile--title
        span Меню
        img(src="/assets/img/arrow-footer.png")

      .footer-mobile--title
        span Сеты
        img(src="/assets/img/arrow-footer.png")
      .footer-mobile--title
        span Роллы
        img(src="/assets/img/arrow-footer.png")
      .footer-mobile--title
        span Вок
        img(src="/assets/img/arrow-footer.png")
      .footer-mobile--title
        span Пицца
        img(src="/assets/img/arrow-footer.png")

    .footer-bottom
      .footer-bottom--item
        span МИЮШИ ® 2019
        span
          a Соглашение на обработку персональных данных
      .footer-bottom--item
        .footer-social
          .footer-social--item
            a(href="https://www.linkedin.com/in/artem-filipopovskii/")
              img(src="assets/img/social/insta.png")
          .footer-social--item
            a(href="https://vk.com/art_fill1")
              img(src="assets/img/social/vk.png")
          .footer-social--item
            a(href="https://www.linkedin.com/in/artem-filipopovskii/")
              img(src="assets/img/social/facebook.png")


