header
  .container
    .header-top
      .header-logo
        img(src="/assets/img/logo.png")
      .header-contact
        span.header-contact--sity г.Курск, ул.Ленина, д.3
        span.header-contact--number 78003332222@yandex.ru
        img(src="/assets/img/menu-header.png" @click='menuModal')
        .header-modal(v-if="menu")
          img(src="/assets/img/close-menu.png" @click="menuModal")
          .header-menu
            ul
              +item-menu('Меню')
              +item-menu('Акции и скидки')
              +item-menu('Доставка и оплата')
              +item-menu('Контакты')
          +header-feedback('+7 (800) 333 2 222', 'Работаем с 11.00 до 23.00')
          button Обратный звонок
          span.header-modal--sity г.Курск, ул.Ленина, д.3
          span.header-modal--number 78003332222@yandex.ru

      .header-feedback
        +header-feedback('+7 (800) 333 2 222', 'Работаем с 11.00 до 23.00')
        button Обратный звонок
        img(src="/assets/img/user-header.png")
        .header-mobile-cart
          img(src="/assets/img/cart-header.png")
          .header-user-counter
            span 3

  .line
  .container
    .header-bottom
      .header-menu
        ul
          +item-menu('Меню', true)
          +item-menu('Акции и скидки')
          +item-menu('Доставка и оплата')
          +item-menu('Контакты')
      .header-user
        span.header-user--cabinet Кабинет
        span.header-user--basket Корзина
          .header-user-counter
            span 3
