header
  .container
    .header-top
      .header-logo
        img(src="/assets/img/logo.png" :alt="logo")
      .header-contact
        span.header-contact--sity г.Курск, ул.Ленина, д.3
        span.header-contact--number 78003332222@yandex.ru
        img(src="/assets/img/menu-header.png" :alt="menu")
      .header-feedback
        p
          strong +7 (800) 333 2 222
          span Работаем с 11.00 до 23.00
        button Обратный звонок
        img(src="/assets/img/user-header.png" :alt="user")
        .header-mobile-cart
          img(src="/assets/img/cart-header.png" :alt="cart")
          .header-user-counter
            span 3
  .line
  .container
    .header-bottom
      .header-menu
        ul
          +item-menu('Меню', true)
          +item-menu('Акции и скидки')
          +item-menu('Доставка и оплата')
          +item-menu('Контакты')

      .header-user
        span.header-user--cabinet Кабинет
        span.header-user--basket Корзина
          .header-user-counter
            span 3


