extends ../layout/main

block variables
  - var title = 'Миюши | Cуши & Роллы';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block main
  section.main
    .main-slider
      .slider.js-slider
        .slider-body(:style='{left: sliderOffsetLeft + "px"}')
          .slider-slide.js-slide(v-for='slide in sliderList',
                                  :style='"background-image: url(" + slide.img + ")"')
            .container
              .main-slider--text
                +text-slide('{{ slide.title }}'   ,
                            '{{ slide.subtitle }}',
                            '{{ slide.discount }}',
                            '{{ slide.sumDiscount }}')
      .main-slider--button
        button.main-slider--prev(@click='prevSlide') &#10094;
        .main-slider--points
          .main-slider--dot(v-for='i in sliderAllCount')
            input(type='radio', :id='[`main-slide--` + i]', name="slide")
            label(:for='[`main-slide--` + i]', @click='openSlide(i)')
        button.main-slider--next(@click='nextSlide') &#10095;
block product-sets
  section.product(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .glider-contain.multiple
        h2.product-title {{ title[0] }}
        .glider.set
          .product-slide(v-for="item in this.sets")
            .product-card
              +product-card
        .product-control
          button.glider-prev
            img(src='/assets/img/product-arrow.png')
          #dots-set.glider-dots
          button.glider-next
            img(src='/assets/img/product-arrow.png')
block product-rolls
  section.product(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .glider-contain.multiple
        h2.product-title {{ title[1] }}
        .glider.rolls
          .product-slide(v-for="item in this.rolls")
            .product-card
              +product-card
        .product-control
          button.glider-prev.rolls
            img(src='/assets/img/product-arrow.png')
          #dots-rolls.glider-dots
          button.glider-next.rolls
            img(src='/assets/img/product-arrow.png')
block product-pizza
  section.product(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .glider-contain.multiple
        h2.product-title {{ title[2] }}
        .glider.pizza
          .product-slide(v-for="item in this.pizza")
            .product-card
              +product-card
        .product-control
          button.glider-prev.pizza
            img(src='/assets/img/product-arrow.png')
          #dots-pizza.glider-dots
          button.glider-next.pizza
            img(src='/assets/img/product-arrow.png')
block product-wok
  section.product(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .glider-contain.multiple
        h2.product-title {{ title[3] }}
        .glider.wok
          .product-slide(v-for="item in this.wok")
            .product-card
              +product-wok
        .product-control
          button.glider-prev.wok
            img(src='/assets/img/product-arrow.png')
          #dots-wok.glider-dots
          button.glider-next.wok
            img(src='/assets/img/product-arrow.png')
block stock
  section.stock-wrapper(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .stock-buttons
        button(:class="styleButton ? 'active' : 'passively' ",
                @click="styleButton = !styleButton, stockStyle = true") Новинки
        button(:class="styleButton ? 'passively' : 'active' ",
                @click="styleButton = !styleButton, stockStyle = false") Акции

      .glider-contain.multiple
        .glider.stock
          .product-slide(v-for="item in this.stock")
            .product-card
              +product-card
        .product-control
          button.glider-prev.stock
            img(src='/assets/img/product-arrow.png')
          #dots-stock.glider-dots
          button.glider-next.stock
            img(src='/assets/img/product-arrow.png')
block advantages
  section.advantages(:class="menu ? 'hidden-open-menu' : '' ")
    .container
        h2.advantages-title <span>10 причин</span> купить у нас
        .advantages-container
          .advantages-item
            .advantages-item--picture
              img(src="/assets/img/advantages/item-1.png")
            .advantages-item--text
              p 100% ручная работа
          .advantages-item
            .advantages-item--picture
              img(src="/assets/img/advantages/item-2.png")
            .advantages-item--text
              p 100% свежие <br> ингредиенты
          .advantages-item
            .advantages-item--picture
              img(src="/assets/img/advantages/item-3.png")
            .advantages-item--text
              p Самые низкие цены на рынке! (Нет ресторанной наценки)
          .advantages-item
            .advantages-item--picture
              img(src="/assets/img/advantages/item-4.png")
            .advantages-item--text
              p Постоянный контроль качества на всех этапах
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-5.png")
            .advantages-item--text
              p Только охлаждённая рыба (никакой заморозки)
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-6.png")
            .advantages-item--text
              p Мы используем только дорогой рис из Японии
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-7.png")
            .advantages-item--text
              p Больше начинки, меньше риса!
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-8.png")
            .advantages-item--text
              p Мы не заменяем авокадо огурцом!
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-9.png")
            .advantages-item--text
              p Вся пицца готовится из итальянской муки и Итальянского соуса
          .advantages-item(:class="mobileHidden ? 'hidden' : 'visible'")
            .advantages-item--picture
              img(src="/assets/img/advantages/item-10.png")
            .advantages-item--text
              p Мы не используем <br> майонез!

          button(@click="mobileHidden = !mobileHidden").advantages-mobile--button {{ mobileHidden ? 'Показать всё' : 'Скрыть' }}
block reviews
  section.reviews-wrapper(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .glider-contain.multiple
        h2.reviews-title {{ title[4] }}
        .glider.reviews
          .product-slide(v-for="item in 6")
            .reviews-card
              +reviews-card
block form
  section.feedback(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      .feedback-content
        span.feedback-content--subtitle Есть вопросы?
        h2.feedback-content--title Оставьте свои контакты
        form.feedback-form
          input(type="text", placeholder="Имя")
          input(type="text", placeholder="Телефон")
          button Отправить
        span.feedback-content--note Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.
block about
  section.about(:class="menu ? 'hidden-open-menu' : '' ")
    .container
      h2.about-title {{ title[5] }}
      .about-container
        strong.about-content--title Заказ и доставка роллов, пиццы и WOK(Вок) в городе Курск
        .about-content
          .about-content--text
            p
              | Суши МИЮШИ открылись в октябре 2012г. и уже завоевали успех у тех, кто ценит японскую кухню
              | и качественное приготовление блюд.
            p
              | C 2013 года мы осуществляем не только доставку на дом, теперь для вас открыт наш уютный небольшой зал.
              | Придя сюда, вы сможете плотно пообедать, насладиться прекрасными напитками, посидеть с друзьями или обзавестись новыми знакомствами.
            p
              | Открывая зал, Мы преследовали цель предоставить своим посетителям максимум удобства и комфорта, поэтому придя сюда в первый раз, вы почувствуете
              | себя как рыба в вода, окунувшись в домашнюю и тёплую обстановку!
            p(:class="aboutHidden ? 'hidden' : 'visible'")
              | Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только по
              | г. Курске. Чёткая и слаженная работа курьеров позволяет максимально сократить время от приготовления
              | блюда до его попадания на стол заказчику. Как правило, оно составляет от 20 до 60 минут в зависимости
              | от местонахождения клиента. Операторы службы доставки всегда осведомлены обо всех изменениях времени доставки
              | и предупреждают клиентов заранее, а при возможных серьёзных задержках в связи с дорожной ситуацией
              | предложат Вам альтернативу. Мы берёмся только за ту работу, которую можем выполнить в срок.
            p.about-content--last(:class="aboutHidden ? 'hidden' : 'visible'")
              | В меню суши МИЮШИ предоставленно всё многообразие японской кухни. Классические суши, и роллы
              | приготовленны в соответствии с традиционными рецептами. Для любителей нежных и тающих во рту блюд
              | предлагаются роллы с мясом краба, а также для больших любителей копчёного угря потрясающий ролл Дракон.
              | Для желающих попробовать что-то новое и необычное - острые ГУНКАНЫ и новинка нашего меню - ИНАРИ,
              | широкий выбор горячих роллов. Большим компаниям будет удобно заказать суши и роллы, объединенные в сеты,
              | включающие сразу несколько видов каждого из этих блюд. Кроме того, меню суши МИЮШИ не ограниченно только
              | японской кухней, здесь всегда можно заказать горячие и холодные блюда ЛАПША или РИС WOK с
              | различными мясными и рыбными наполнителями, салаты, горячие закуски и различные напитки.
            button(@click="aboutHidden = !aboutHidden").about-mobile--button {{ aboutHidden ? 'Показать всё' : 'Скрыть' }}
          .about-content--img
            img(src="/assets/img/about.png")



block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
      // code
    }
