extends ../layout/main

block variables
  - var title = 'Миюши | Cуши & Роллы';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';
block content
  section
    .container
  example-component

block main
  section
    .main-slider
      .slider.js-slider
        .slider-body(:style='{left: sliderOffsetLeft + "px"}')
          .slider-slide.js-slide(v-for='slide in sliderList',
                                  :style='"background-image: url(" + slide.img + ")"')
            .container
              .main-slider--text
                +text-slide('{{ slide.title }}'   ,
                            '{{ slide.subtitle }}',
                            '{{ slide.discount }}',
                            '{{ slide.sumDiscount }}')
      .main-slider--button
        button.main-slider--prev(@click='prevSlide') &#10094;
        .main-slider--points
          .main-slider--dot(v-for='i in sliderAllCount')
            input(type='radio', :id='[`main-slide--` + i]', name="slide")
            label(:for='[`main-slide--` + i]', @click='openSlide(i)')
        button.main-slider--next(@click='nextSlide') &#10095;

block product
  section.product
    .container
      h2.product-title {{ title[0] }}
      .product-container
        .product-card
          .product-item--picture
          .product-item--calc
            h3 Сет №10
            span 72 шт. | 1560 г. | 1700 Kkal
            .product-wrapper
              .product-price
                strong 2 050 <sup> руб.</sup>
              .product-payment
                button.product-payment--minus
                span 1
                button.product-payment--plus
            button.product-item--sale
              span В корзину


block content
  section
    .container

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
      // code
    }
