extends ../layout/main

block variables
  - var title = 'Миюши | Cуши & Роллы';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';
block content
  section
    .container
  example-component

block main
  section
    .main-slider
      img.mySlides(src='/assets/img/main-slider.jpg')
      img.mySlides(src='/assets/img/main-slider.jpg')
      img.mySlides(src='/assets/img/main-slider.jpg')
      .main-button
        button.main-button--prev(@click='plusDivs(-1)') &#10094;
        button.main-button--next(@click='plusDivs(+1)') &#10095;

block content
  section
    .container

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
