extends ../layout/main

block variables
  - var title = 'Миюши | Cуши & Роллы';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';
block content
  section
    .container
  example-component

block main
  section.main
    .main-slider
      .slider.js-slider
        .slider-body(:style='{left: sliderOffsetLeft + "px"}')
          .slider-slide.js-slide(v-for='slide in sliderList',
                                  :style='"background-image: url(" + slide.img + ")"')
            .container
              .main-slider--text
                +text-slide('{{ slide.title }}'   ,
                            '{{ slide.subtitle }}',
                            '{{ slide.discount }}',
                            '{{ slide.sumDiscount }}')
      .main-slider--button
        button.main-slider--prev(@click='prevSlide') &#10094;
        .main-slider--points
          .main-slider--dot(v-for='i in sliderAllCount')
            input(type='radio', :id='[`main-slide--` + i]', name="slide")
            label(:for='[`main-slide--` + i]', @click='openSlide(i)')
        button.main-slider--next(@click='nextSlide') &#10095;

block product-sets
  section.product
    .container
      .glider-contain.multiple
        h2.product-title {{ title[0] }}
        .glider.set
          .product-slide(v-for="item in this.sets")
            .product-card
              +product-card
        .product-control
          button.glider-prev
            img(src='/assets/img/product-arrow.png')
          #dots-set.glider-dots
          button.glider-next
            img(src='/assets/img/product-arrow.png')

block product-rolls
  section.product
    .container
      .glider-contain.multiple
        h2.product-title {{ title[1] }}
        .glider.rolls
          .product-slide(v-for="item in this.rolls")
            .product-card
              +product-card
        .product-control
          button.glider-prev.rolls
            img(src='/assets/img/product-arrow.png')
          #dots-rolls.glider-dots
          button.glider-next.rolls
            img(src='/assets/img/product-arrow.png')

block product-pizza
  section.product
    .container
      .glider-contain.multiple
        h2.product-title {{ title[2] }}
        .glider.pizza
          .product-slide(v-for="item in this.pizza")
            .product-card
              +product-card
        .product-control
          button.glider-prev.pizza
            img(src='/assets/img/product-arrow.png')
          #dots-pizza.glider-dots
          button.glider-next.pizza
            img(src='/assets/img/product-arrow.png')

block product-wok
  section.product
    .container
      .glider-contain.multiple
        h2.product-title {{ title[3] }}
        .glider.wok
          .product-slide(v-for="item in this.wok")
            .product-card
              +product-wok
        .product-control
          button.glider-prev.wok
            img(src='/assets/img/product-arrow.png')
          #dots-wok.glider-dots
          button.glider-next.wok
            img(src='/assets/img/product-arrow.png')



block content
  section
    .container
      .glider-contain.multiple
        h1 User Testing


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
      // code
    }
