// Open Sans-Bold
@font-face {
  font-family: "Open Sans-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/OpenSans/Bold/opensansbold.woff");
  src: url("/assets/fonts/OpenSans/Bold/opensansbold.woff2") format("woff"),
    url("/assets/fonts/OpenSans/Bold/opensansbold.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

// Open Sans-Italic
@font-face {
  font-family: "Open Sans-Italic";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/OpenSans/Italic/opensansitalic.woff");
  src: url("/assets/fonts/OpenSans/Italic/opensansitalic.woff2") format("woff"),
    url("/assets/fonts/OpenSans/Italic/opensansitalic.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

// Open Sans-Light
@font-face {
  font-family: "Open Sans-Light";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/OpenSans/Light/opensanslight.woff");
  src: url("/assets/fonts/OpenSans/Light/opensanslight.woff2") format("woff"),
    url("/assets/fonts/OpenSans/Light/opensanslight.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

//Open Sans-Regular
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/OpenSans/Regular/opensans.woff");
  src: url("/assets/fonts/OpenSans/Regular/opensans.woff2") format("woff"),
    url("/assets/fonts/OpenSans/Regular/opensans.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

//Lemon Tuesday
@font-face {
  font-family: "Lemon Tuesday";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/LemonTuesday/Lemontuesday.woff");
  src: url("/assets/fonts/LemonTuesday/Lemontuesday.woff2") format("woff"),
  url("/assets/fonts/LemonTuesday/Lemontuesday.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}

// Robobto Slab-Bold
@font-face {
  font-family: "Robobto Slab-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/RobotoSlab/Bold/robotoslabbold.woff");
  src: url("/assets/fonts/RobotoSlab/Bold/robotoslabbold.woff2") format("woff"),
  url("/assets/fonts/RobotoSlab/Bold/robotoslabbold.ttf") format("truetype");
  //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}
