// Font
$mainFont                :'Open Sans', sans-serif;
$boldFont                :'Open Sans-Bold', sans-serif;
$italicFont              :'Open Sans-Italic', sans-serif;
$lightFont               :'Open Sans-Light', sans-serif;
$decorFont               :'Lemon Tuesday', cursive;

// Size
$mainFontColor           : #000000;
$decorFontColor          : #32505a;
$secondFontColor         : #ffffff;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1180px;
$smDesktopWidth          : 992px;
$tableWidth              : 750px;
$phoneWidth              : 501px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #1fba0a;
$success-color           : #fd4f10;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #8cca15;
$form-color              : #f2f2f2;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #c1c1c1;
$border-light            : #f2f2f2;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
