.advantages {
  margin: 90px 0 0 0;
}
.advantages-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.advantages-item {
  display: inherit;
  justify-items: center;
}
