.advantages {
  margin: 90px 0 45px 0;
  @media screen and (max-width: $phoneWidth) {
    margin: 45px 0 45px 0;
  }
}
.advantages-title {
  position: relative;
  font-size: rem(60);
  text-align: center;
  padding: 0 0 20px 0;
  font-family: $decorFont;
  color: $decorFontColor;
  &:before,
  &:after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 109px;
    height: 40px;
  }
  &:before {
    margin: 20px 0 0 -150px;
    background-image: url("/assets/img/left-decor.png");
    background-repeat: no-repeat;
  }
  &:after {
    background-image: url("/assets/img/right-decor.png");
    background-repeat: no-repeat;
    margin: 20px 0 0 40px;
  }
  @media screen and (max-width: 1100px) {
    font-size: rem(48);
    &:after {
      margin: 20px 0 0 20px;
    }
    &:before {
      margin: 20px 0 0 -120px;
    }
  }
  @media screen and (max-width: $tableWidth) {
    line-height: 55px;
    span {
      display: block;
    }
    padding: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}
.advantages-container {
  display: flex;
  flex-wrap: wrap;
  margin: 65px 0 0 0;
}
.advantages-item {
  margin: 0 auto 40px;
  width: 20%;
  &.hidden {
    @media screen and (max-width: $tableWidth) {
      display: none;
    }
  }
  &.visible {
    @media screen and (max-width: $tableWidth) {
      display: block;
    }
  }
  @media screen and (max-width: 1100px) {
    width: 33.33%;
  }
  @media screen and (max-width: $tableWidth) {
    width: 50% !important;
  }
}
.advantages-item--picture {
  margin-bottom: 30px;
  img {
    display: block;
    margin: 0 auto;
    height: 60px;
  }
}
.advantages-item--text {
  color: $decorFontColor;
  width: 100%;
  font-size: rem(16);
  padding: 0 15px;
  line-height: 28px;
  text-align: center;
  @media screen and (max-width: 1100px) {
    padding: 0 35px;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 0 20px;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 0 !important;
  }
}
.advantages-mobile--button {
  display: none;
  cursor: pointer;
  font-size: rem(14);
  letter-spacing: 1px;
  font-family: $boldFont;
  text-transform: uppercase;
  padding: 15px 0;
  width: 100%;
  color: $success-color;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 290px;
  border-radius: 3px;
  border: 1px solid $success-color;
  background-color: transparent;
  &:hover {
    background-color: $success-color;
    color: $secondFontColor;
  }
  @media screen and (max-width: $tableWidth) {
    display: block;
  }
}
