// header style
header {
  font-family: $mainFont;
}
.line {
  border-top: 1px solid $border-light;
}
.header-top {
  display: grid;
  grid-template-columns: 0.9fr 2.1fr 1.5fr;
  padding: 10px 0 20px 0;
  span {
    font-size: rem(14);
    display: inline-block;
  }
}
.header-logo {
  margin: 0 25px 0 0;
}
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 50%;
  }
  &--sity::before,  &--number::before {
    content: '';
    margin: 0 10px 0 0;
    display: inline-block;
    background-repeat: no-repeat;
  }
  &--sity::before {
    background-image: url("/assets/img/maps-header.png");
    width: 11px;
    height: 16px;
  }
  &--number::before {
    background-image: url("/assets/img/mail-header.png");
    width: 11px;
    height: 10px;
  }
}
.header-feedback {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p {
    padding: 0 5px 0 0;
    strong {
      display: block;
      font-size: rem(18);
    }
    span {
      font-size: rem(10);
    }
  }
  button {
    font-size: rem(13);
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 12px;
    &:hover {
      background-color: $primary-color;
      color: $secondFontColor;
    }
  }
}
.header-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: $boldFont;
  span {
    cursor: pointer;
  }
}
.header-menu  {
  display: flex;
  width: 100%;
  li {
    display: inline-block;
    padding: 20px 30px;
    &:hover {
      background-color: $primary-color;
      color: $secondFontColor;
    }
  }
}
.header-menu--arrow {
  position: relative;
}
.header-menu--arrow::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 7px;
  width: 9px;
  height: 5px;
  background-image: url("/assets/img/menu-arrow.svg");
}
.header-user {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  span {
    align-self: center;
    &:hover {
      opacity: 0.8;
    }
  }
}
.header-user--basket {
  position: relative;
}
.header-user--cabinet, .header-user--basket {
  position: relative;
  padding: 0 10px 0 0;
}
.header-user--cabinet::before,
.header-user--basket::before {
  content: '';
  margin: 0 10px 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}
.header-user--cabinet::before {
  background-image: url("/assets/img/user-header.png");
  position: absolute;
  left: -5px;
  width: 22px;
  height: 22px;
}
.header-user--basket::before {
  background-image: url("/assets/img/cart-header.png");
  position: absolute;
  left: -5px;
  width: 23px;
  height: 21px;
}
.header-user-counter {
  position: absolute;
  font-size: 7px;
  background-color: $success-color;
  color: $secondFontColor;
  border-radius: 3px;
  top: -3px;
  left: 10px;
  width: 11px;
  height: 11px;
}

