// header style
header {
  font-family: $mainFont;
}
.line {
  border-top: 1px solid $border-light;
}
.header-top {
  display: grid;
  grid-template-columns: 0.9fr 2.1fr 1.5fr;
  padding: 10px 0 20px 0;
  span {
    font-size: rem(14);
    display: inline-block;
  }
  @media screen and (max-width: $smDesktopWidth) {
    grid-template-columns: 1fr 8fr 1.2fr;
  }
  @media screen and (max-width: $phoneWidth) {
    grid-template-columns: 1fr 4fr 1.2fr;
    padding: 0;
  }
}
.header-logo {
  margin: 0 25px 0 0;
  &--mobile {
    display: none;
  }
  @media screen and (max-width: $smDesktopWidth) {
    z-index: -1;
    order: 2;
    justify-self: center;
    margin: 0;
  }
  @media screen and (max-width: $phoneWidth) {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
}
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 50%;
  }
  img {
    display: none;
    cursor: pointer;
  }
  &--sity::before,
  &--number::before {
    content: "";
    margin: 0 10px 0 0;
    display: inline-block;
    background-repeat: no-repeat;
  }
  &--sity::before {
    background-image: url("/assets/img/maps-header.png");
    width: 11px;
    height: 16px;
  }
  &--number::before {
    background-image: url("/assets/img/mail-header.png");
    width: 11px;
    height: 10px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    order: 1;
    span {
      display: none;
    }
    img {
      display: inline-block;
    }
  }
}
.header-feedback {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p {
    padding: 0 5px 0 0;
    strong {
      display: block;
      font-size: rem(18);
    }
    span {
      font-size: rem(10);
    }
  }
  button {
    font-size: rem(13);
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 12px;
    &:hover {
      background-color: $primary-color;
      color: $secondFontColor;
    }
  }
  img {
    cursor: pointer;
    display: none;
  }
  @media screen and (max-width: $smDesktopWidth) {
    order: 3;
    p,
    button {
      display: none;
    }
    img {
      display: block;
      padding-right: 5px;
    }
  }
}
.header-mobile-cart {
  display: none;
  position: relative;
  span {
    font-size: 9px;
    padding-left: 3px;
  }
  .header-user-counter {
    left: 15px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    display: block;
  }
}
.header-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: $boldFont;
  span {
    cursor: pointer;
  }
  @media screen and (max-width: $smDesktopWidth) {
    display: none;
  }
}
.header-menu {
  display: flex;
  width: 100%;
  li {
    display: inline-block;
    cursor: pointer;
    padding: 20px 30px;
    &:hover {
      background-color: $primary-color;
      color: $secondFontColor;
    }
  }
  @media screen and (max-width: $smDesktopWidth) {
    font-family: $boldFont;
    margin: 15px 0 50px 0;
    li {
      display: block;
      padding: 0;
      &:hover {
        background-color: transparent;
        opacity: 0.5;
        color: black;
      }
      span {
        text-transform: uppercase;
        padding: 0 0 35px 0;
      }
    }
  }
}
.header-menu--bg {
  @media screen and (max-width: $smDesktopWidth) {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.header-menu--item {
  font-size: rem(14);
}
.header-menu--arrow {
  position: relative;
}
.header-menu--arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 7px;
  width: 9px;
  height: 5px;
  background-image: url("/assets/img/menu-arrow.svg");
}
.header-user {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  span {
    align-self: center;
    padding: 0 0 0 2px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.header-user--basket {
  position: relative;
}
.header-user--cabinet,
.header-user--basket {
  position: relative;
  padding: 0 10px 0 0;
}
.header-user--cabinet::before,
.header-user--basket::before {
  content: "";
  margin: 0 10px 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}
.header-user--cabinet::before {
  background-image: url("/assets/img/user-header.png");
  position: absolute;
  left: -5px;
  width: 22px;
  height: 22px;
}
.header-user--basket::before {
  background-image: url("/assets/img/cart-header.png");
  position: absolute;
  left: -5px;
  width: 23px;
  height: 21px;
}
.header-user-counter {
  position: absolute;
  font-size: 7px;
  background-color: $success-color;
  color: $secondFontColor;
  border-radius: 3px;
  top: -3px;
  left: 10px;
  width: 11px;
  height: 11px;
}
.header-modal {
  display: none;
  @media screen and (max-width: $smDesktopWidth) {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $default-color;
    padding: 25px 60px 60px 60px;
    &--sity::before,
    &--number::before {
      content: "";
      margin: 0 10px 0 0;
      display: inline-block;
      background-repeat: no-repeat;
    }
    &--sity::before {
      background-image: url("/assets/img/maps-header.png");
      width: 11px;
      height: 16px;
    }
    &--number::before {
      background-image: url("/assets/img/mail-header.png");
      width: 11px;
      height: 10px;
    }
    img {
      margin-left: 100%;
    }
    p {
      margin: 0 0 10px 0;
      strong {
        display: block;
        font-size: rem(18);
      }
      span {
        display: inline-block;
        width: 100%;
        font-size: rem(10);
      }
    }
    span {
      display: block;
      width: 100%;
      padding: 0 0 20px 0;
    }
    button {
      font-size: rem(13);
      cursor: pointer;
      text-transform: uppercase;
      background-color: transparent;
      margin: 0 0 25px 0;
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 5px;
      padding: 12px;
      &:hover {
        background-color: $primary-color;
        color: $secondFontColor;
      }
    }
  }
}
