$slider-height: 400px;
$slide-width: 100%;

.slider {
	width: 100%;
	height: $slider-height;
	position: relative;
	overflow: hidden;
	&__body {
		min-width: auto;
		height: $slider-height;
		display: flex;
		position: relative;
		align-items: stretch;
		transition: all .5s ease;
	}
	
	&__slide {
		min-width: $slide-width;
		height: $slider-height;
		background-size: cover;
		background-position: center;
		flex: 1 100%;
	}
}
.main-slider {
  position: relative;
}
.main-slider--button {
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}
.main-slider--prev, .main-slider--next {
  cursor: pointer;
  width: 53px;
  color: $secondFontColor;
  height: 53px;
  border-radius: 50%;
  background-color: $mainFontColor;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  } 
}
.main-slider--next {
  justify-self: end;
}