.product {
  margin: 75px 0 0 0;
}
.product-title {
  position: relative;
  font-size: rem(60);
  text-align: center;
  padding: 0 0 50px 0;
  font-family: $decorFont;
  color: $decorFontColor;
  &:before, &:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 109px;
    height: 40px;
  }
  &:before {
    margin: 20px 0 0 -150px;
    background-image: url("/assets/img/left-decor.png");
  }
  &:after {
    background-image: url("/assets/img/right-decor.png");
    margin: 20px 0 0 40px;
  }
}
.product-card {
  display: flex;
  flex-direction: column;
  background-color: $secondFontColor;
  border-radius: 10px;
  box-shadow: 0 4px 29px rgba(0,0,0,0.08);
  max-width: 265px;
  width: 100%;
}
.product-item--calc {
  padding: 30px 36px 36px 36px;
}
