.reviews-wrapper {
  margin: 50px 0 45px 0;
}
.reviews-title {
  position: relative;
  font-size: rem(60);
  text-align: center;
  padding: 0 0 20px 0;
  font-family: $decorFont;
  color: $decorFontColor;
  &:before,
  &:after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 109px;
    height: 40px;
  }
  &:before {
    margin: 20px 0 0 -150px;
    background-image: url("/assets/img/left-decor.png");
    background-repeat: no-repeat;
  }
  &:after {
    background-image: url("/assets/img/right-decor.png");
    background-repeat: no-repeat;
    margin: 20px 0 0 40px;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
