include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .wrapper
      #app
        include ../includes/modules/header
        .content-wrapper
          block main
          block product-sets
          block product-rolls
          block product-pizza
          block product-wok
          block stock
          block advantages
          block reviews
          block form
        include ../includes/modules/footer

    block script
